.truckListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.truckList {
  margin-bottom: 40px;
}

.truckListLoadMoreBtn {
  display: inline-block;
  padding: 12px 24px;

  width: 166px;

  color: rgba(16, 24, 40, 1);
  text-align: center;
  border: 1px solid rgba(218, 221, 225, 1);
  border-radius: 200px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5%;
  vertical-align: middle;
}
