.truckListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  max-width: 888px;
}

.truckList {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 40px;
}

.truckListLoadMoreBtn {
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
  width: 166px;
  color: rgba(16, 24, 40, 1);
  text-align: center;
  border: 1px solid rgba(218, 221, 225, 1);
  border-radius: 200px;
  text-decoration: none;
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.5%;
  vertical-align: middle;
}

.truckListLoadMoreBtn:hover,
.truckListLoadMoreBtn:focus,
.truckListLoadMoreBtn:active {
  border: 1px solid rgba(216, 67, 67, 1);
  transition: border 0.3s ease-in-out;
}

.truckListHeader {
  margin: 0 auto;
  margin-bottom: 20px;
}
