.featuresContainer {
  width: 50%;
  padding: 44px 52px;

  background-color: rgba(247, 247, 247, 1);
  border-radius: 10px;
}

.featuresEquipmentList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.featuresDetailesHeader {
  margin-bottom: 48px;

  position: relative;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(218, 221, 225, 1);
  margin-bottom: 24px;
}

.featuresDetailesHeader {
  font-family: Inter;
  color: rgba(16, 24, 40, 1);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.featuresDetailesList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.featuresDetailesItem {
  display: flex;
  justify-content: space-between;
}

.featuresDetailesDescription {
  font-family: Inter;
  color: rgba(16, 24, 40, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
