.truckCard {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(218, 221, 225, 1);
  border-radius: 20px;
}

.truckCardHeaderWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.truckImage {
  object-fit: cover;
}

.truckCardHeader {
  color: rgba(16, 24, 40, 1);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.truckPriceWrapper {
  display: flex;
  gap: 12px;
}

.truckCardPrice {
  display: flex;
  gap: 13px;

  color: rgba(16, 24, 40, 1);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0%;
}

.truckCardReviews {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  gap: 4px;

  color: rgba(16, 24, 40, 1);
  font-weight: 400;
}

.truckCardReviewsSpan {
  margin-left: 16px;
}

.truckCardDescription {
  margin-bottom: 24px;

  color: rgba(71, 84, 103, 1);
  font-weight: 400;
}

.truckCardEquipmentList {
  margin-bottom: 24px;

  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.truckCardShowMoreButton {
  display: inline-block;
  padding: 16px 40px;

  width: 166px;

  background-color: rgba(228, 72, 72, 1);
  color: #fff;
  text-align: center;
  border-radius: 200px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;

  letter-spacing: -0.5%;
  vertical-align: middle;
}
.truckCardShowMoreButton:hover {
  background-color: rgba(216, 67, 67, 1);
}
